.user-details {
  //height: 100%;
  background-color: white;
  border-radius: 20px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
